<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<title>{{ .Title }}</title>
</head>
<body>
  <ul>
    {{ range (where .Site.RegularPages "Section" "blog") }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</body>
</html>
